<span class="article">

    <h2 class="article--title">
        <a class="article--link" href="<%- url_for(article.path) %>">
            <%= article.title %>
        </a>
    </h2>

    <p class="article--meta">
        <% if (article.date) {%>
            <i class="icofont-calendar"></i>
            <span class="alt-font">posted on</span> <%= article.date.format(config.date_format) %>
        <% } %>
        <br>
        <% if (article.author) { %>
            <span class="alt-font"><i class="icofont-pencil"></i>by </span> <%- article.author %></span>
        <% } %>
        <br>
        <% if (article.tags && article.tags.length) { %>
            <i class="icofont-tag"></i> Tagged as:
            <%- list_tags(article.tags, {
                show_count: false,
                class: "post-meta--tag",
                style: "none",
                seperator: ","
            }) %>
        <% } %>
        <br>
        <% if (article.categories && article.categories.length) { %>
            <i class="icofont-folder-open"></i> Posted in:
            <%- list_tags(article.categories, {
                show_count: false,
                class: "post-meta--category",
                style: "none",
                seperator: ","
            }) %>
        <% } %>
    </p>

    <% if (article.excerpt) { %>
        <p class="article--excerpt"> 
            <%- article.excerpt %>
        </p>
        <a href="<%- url_for(article.path) %>">Read more...</a>
    <% } %>

</span>